h1 {
	color: #000286;
	font-family: 'Playfair Display', serif;
}


.main-image {
	width: 40%;
	border: #000286 solid 1px;
	height: 40vw;
	display: block;
	margin: auto;

}



.main-table,
table td {
	border: 1px solid black;
}

td:first-child {
	font-weight: bold;
}